{{#if errors}}
<div>
    <div class="errorContainer">
        <p>{{errors.[0]}}</p>

        <!-- Use this to iterate all errors -->
        <!--
        {{#each errors}}
        <p>{{this}}</p>
        {{/each}} 
        -->
    </div>
</div>
{{/if}}
